*{
    margin: 0;
    padding:0;
}

ul{
    list-style: none;
    align-items:center;
    display:flex;
    gap: 1rem;
    height: 2rem;
    background-color:aliceblue;
    box-shadow: 0px 2px 10px #000;
    width: 100%;
    padding-left: 1rem;
    position: fixed;
}
a{
    text-decoration: none;
}
#UM{
    background-color: rgb(194, 36, 62);
}
#DOIS{
    background-color: green;
}
#TRES{
    background-color: rgb(3, 100, 133);
}
#QUATRO{
    background-color: yellowgreen;
}
#CINCO{
    background-color: rgb(139, 9, 139);
}
#SEIS{
    background-color: gray;
}

section{
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-left: 1rem;
}
